<!DOCTYPE html>
<html>
<head>
	<title>CJ Jacobs</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel= "stylesheet" type= "text/css" href= "/static/stylesheets/details.css">
	<link href="https://fonts.googleapis.com/css?family=Exo+2:600" rel="stylesheet">
	<script type="text/javascript" src="static/js/scroll.js"></script>

	
</head>
<body>

<!--Navbar-->

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-briefcase"></span>JAVA</a></li>        
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-cloud-download"></span>BITQUERY</a></li>
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-wrench"></span>WEBAPP</a></li>
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-globe"></span>SITE</a></li>
        <li><a class = "nav-link" href="#About"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--content-->

<div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
 			<div id="about" class="panel_1">
 			    <img src="./static/images/IMG_0125.jpg" class="img-responsive img-center img-circle mx-auto d-block" style="padding-top: 35px;" alt="Chile Pic">
 			</div>
 		</div>
 		 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
 		     <div id="about" class="panel_2">
                <h2>Who Am I</h2>
                <hr>
                <h4>I am a natural problem solver who thrives in situations where I'm given new challenges and am required to learn new technologies. I was formally educated
                at UCSB in Mathematics and have since focused on becoming a more flexible devloper with courses at Cabrillo College and self-taught projects.</h4>
        </div>
 		</div>
 		
 		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
 		     <div id="about" class="panel_3">
                <h2>Favorite Technologies</h2>
                <hr>
                <h3>Java[Eclipse], Python, MongoDB, Cloud9 IDE</h3>
        </div>
 		</div>
 	</div>
 </div>
 <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
 			<div id="about" class="panel_4">
 			    <h2>Contact info</h2>
 			    <hr>
 			    <h3>cjacobs2009@gmail.com</h3>
 			    <h3>(562) 972-0558</h3>
 			</div>
 		</div>
 		 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
 		     <div id="about" class="panel_5">
                <a href="https://drive.google.com/uc?export=download&id=114_vRSmtchVbFNO_BaLw9lBAHwRkZ11w" class="button2" download>Resume</a>
        </div>
 		</div>
 		
 		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
 		     <div id="about" class="panel_6">
 		       <h2><a href="https://www.linkedin.com/in/cj-jacobs-897b5010/">LinkedIn</a></h2>
 	
               <hr>
               <h2><a href="https://github.com/cjacobs7">GitHub</a></h2>
        </div>
 		</div>
 	</div>
 </div>
 
 
  
</body>
</html
