<!DOCTYPE html>
<html>
<head>
	<title>CJ Jacobs</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel= "stylesheet" type= "text/css" href= "/static/stylesheets/landing.css">
	<link href="https://fonts.googleapis.com/css?family=Exo+2:600" rel="stylesheet">
	<script type="text/javascript" src="static/js/scroll.js"></script>

	
</head>
<body>

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class = "nav-link" href="#Java"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-briefcase"></span>JAVA</a></li>        
        <li><a class = "nav-link" href="#BitQuery"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-cloud-download"></span>BITQUERY</a></li>
        <li><a class = "nav-link" href="#WebApp"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-wrench"></span>WEBAPP</a></li>
        <li><a class = "nav-link" href="#Site"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-globe"></span>SITE</a></li>
        <li><a class = "nav-link" href="#About"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>

 <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12">
 		    <a name="Java"></a>
 		    <a href="java">
 			<div class="content" id="Java">
 			    
 			</div>
 			</a>
 		</div>
 	</div>
 </div>
 <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12">
 		    <a name="BitQuery"></a>
 		    <a href="/bitquery">
 			<div class="content" id="BitQuery">

 			</div>
 		</div>
 	</div>
 </div>
 <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12">
 		    <a name="WebApp"></a>
 		    <a href="/webapp">
 			<div class="content" id="WebApp">
 			    
 			</div>
 			</a>
 		</div>
 	</div>
 </div>
 <<div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12">
 		    <a name="Site"></a>
 		    <a href="/site">
 			<div class="content" id="Site">
 			    
 			</div>
 			</a>
 		</div>
 	</div>
 </div>
  <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12">
 		    <a name="About"></a>
 		    <a href="/about">
 			<div class="content" id="About">
 			    
 			</div>
 			</a>
 		</div>
 	</div>
 </div>
 
  
</body>
</html
