{% include "/partials/header.ejs" %}

<body>

<!--Navbar-->

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>ABOUT</a></li>
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-briefcase"></span>JAVA</a></li>        
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-cloud-download"></span>BITQUERY</a></li>
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-wrench"></span>WEBAPP</a></li>
        <li><a class = "nav-link" href="#Site"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-globe"></span>SITE</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--content-->
 <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 			<div class="panel_1">
 			    <h3>Portfolio</h3>
 			    <hr>
 			    <p>This site was created with Flask and deployed with Google App Engine</p>
          <p>The choice was made to use Flask and App Engine because it's realtively quick and free. It was created to serve
          as an exercise in trying a new framework, new deployment technology, using bootstrap to create a custom navbar, 
          js scroll, and template layout that is both light and responsive</p>
 			</div>
 		</div>
 		 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 		     <div id="site" class="panel_2">
 			        
 			  </div>
 		</div>
 	</div>
 </div>
 <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 			<div id="site" class="panel_3">
 			    <h2>Portfolio Site</h2>
 			    <h4>Please excuse any poor visual design. I am not a UX designer. This was a tech test.</h4>
 			    <hr>
 			    <a href="/static/downloads/Portfolio.zip" class="button2" download>Download Zip</a>
 			  </div>
 			</div>
 		
 		 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 		     <div id="site" class="panel_4">
 			        
 			  </div>
 		</div>
 	</div>
 </div>

  
</body>
</html
