<!DOCTYPE html>
<html>
<head>
	<title>CJ Jacobs</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel= "stylesheet" type= "text/css" href= "/static/stylesheets/details.css">
	<link href="https://fonts.googleapis.com/css?family=Exo+2:600" rel="stylesheet">
	<script type="text/javascript" src="static/js/scroll.js"></script>

	
</head>
<body>

<!--Navbar-->

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-briefcase"></span>JAVA</a></li>        
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-cloud-download"></span>BITQUERY</a></li>
        <li><a class = "nav-link" href="#WebApp"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-wrench"></span>WEBAPP</a></li>
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-globe"></span>SITE</a></li>
        <li><a class = "nav-link" href="/"><span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--content-->
<div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 			<div class="panel_1">
 			    <h3>Hangovr</h3>
 			    <hr>
 			    <p>Hangovr was built with Node, Express, Passport, Mongoose to interact with a MongoDB database, and deployed with mLab</p>
          <p>This was an exercise to learn Node and a NoSQL database. It was born out of an idea to cure hangovers
          by crowdsourcing data then using that data to determine what the main factors were in hangovers. </p>
             
 			</div>
 		</div>
 		 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
 		     <div id="webapp" class="panel_2">
 		       <h2>Features</h2>
          <ul>
            <li>RESTful Routes</li>
            <li>Sign In/Out User Auth with Passport</li>
            <li>Seeded DB with Fake Users and Data</li>
            <li>Malicious Input Validation</li>
            <li>Refactored Routes</li>
            <li>Refactored Pages</li>
            <li>Mobile First, Simple Design</li>
          </ul>
 			  </div>
 		</div>
 	</div>
 </div>
 
 <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
 			<div id="webapp" class="panel_3">
        
 			</div>
 		</div>
 		 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
 		     <div id="webapp" class="panel_4">
 			    <h2>To-do</h2>
          <ul>
            <li>Improve UX</li>
            <li>Add Visual Data Represnations on User page and Results page</li>
            <li>Add Google Maps for location</li>
            <li>Realistic input validation</li>
            <li>Add topographical data on location dependency</li>
          </ul>
 			  </div>
 			</div>
 		 	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
 		     <div id="webapp" class="panel_5">
 			      <a href="/404" class="button2">Visit</a>
 			  </div>
 		</div>
 	</div>
 </div>
 
  
</body>
</html
